body {
    background-color: #111;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    animation: fadeInBlur 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #151515;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: #333;
}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.topnav {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 80px;
    width: 70%;
    margin: 30px auto;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.logo-button {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s;
    padding: 8px 10px;
    border-radius: 7px;
}

.logo-button:active {
    transform: scale(0.95);
}

.logo-button img {
    height: 35px;
    width: auto;
    margin-right: 10px;
}

.logo-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.nav-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    width: 75px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s;
    font-weight: 500;
    border-radius: 7px;
}

.nav-links a.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-links a img {
    width: 30px;
    height: 30px;
    margin: 0 0 5px 0;
}

.nav-links a:active {
    transform: scale(0.95);
}

.nav-links a:hover,
.nav-links a.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0.95);
}

.games-section {
    text-align: center;
    margin-bottom: 50px;
}

.games-section h1 {
    margin-bottom: 30px;
    margin-top: -10px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.textInputWrapper .textInput {
    width: 300px;
    padding: 13px 0px;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.9);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    right: 0;
    transition: width 0.2s ease;
	color: #fff;
}

.textInputWrapper .textInput:focus {
    outline: none;
    width: 350px;
}

.textInputWrapper .textInput:focus::placeholder {
    opacity: 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 50px auto;
    max-height: 60vh;
    width: 65%;
    overflow-y: auto;
    overflow-x: hidden;
	background: rgba(0, 0, 0, 0.5);
	padding: 30px;
	border: 2px solid rgba(0, 0, 0, 0.9);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.game-title {
    position: static;
    transform: none;
    opacity: 1;
    transition: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.game-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 98%;
    min-height: 60px;
    transition: all 0.2s ease;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.game-button:hover .game-title {
    transform: translateY(0);
    opacity: 1;
}

.game-button:hover {
    transform: scale(1.02);
}

.game-button:active {
    transform: scale(0.98);
}

.game-button img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

