:root {
  --background: #111;
}

body {
  background: linear-gradient(
      to bottom,
      var(--background),
      color-mix(in srgb, var(--background) 50%, black)
    );
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  animation: fadeInBlur 0.3s ease-out;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.games-section {
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.textInputWrapper .textInput {
  width: 400px;
  height: 30px;
  padding: 18px 0;
  font-size: 18px;
  border-radius: 10px;
  background: rgba(15, 15, 15);
  border: 2px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  transition: width 0.2s ease;
}

.textInputWrapper .textInput:focus {
  outline: none;
  width: 450px;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  padding: 30px;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: rgba(15, 15, 15);
  border-radius: 12px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  overflow: hidden;
}

.game-button:hover {
  transform: scale(1.1);
  background: rgba(25, 25, 25, 0.9);
}

.game-button:active {
  transform: scale(0.98);
}

.game-button img {
  width: 135px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.game-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}